<!-- ACCOUNT VIEW CONTAINER -->
@if (this.router.url.endsWith('/account')) {
  <div class="text-xl w-full flex flex-col pt-24 menu-background z-20 text-black h-screen overflow-y-visible animate-fadeIn">

    <!-- MAIN BUTTON CONTAINER -->
    <div class='flex flex-col mx-auto w-full px-6 rounded-xl mb-12'>

      <!-- ACCOUNT INFO BUTTON -->
      <button class="h-20 text-left pl-4 border-b-0 rounded-xl mb-12 menu-button-interface" routerLink="account-info">

        <div class="flex flex-row pr-3 justify-between items-center">

          <!-- TODO: DYNAMICALLY ADD AVATAR, LIKELY WITH AVATAR SERVICE -->
          <div class="flex flex-row">
            <img class="w-12 h-12 dark:bg-slate-400 rounded-full mt-1 mr-3" src="https://randomuser.me/api/portraits/men/30.jpg" alt="sample-profile-pic" />
            <div>
              <div>Account Info</div>
              <div class="italic text-lg">Name, Email, Account</div>
            </div>
          </div>
          <mat-icon>chevron_right</mat-icon>

        </div>
      </button>

      <!-- CHANGE DATA BUTTON CONTAINER -->
      <div class='flex flex-col mx-auto rounded-xl w-full mb-12'>

        <!-- CHANGE DATA BUTTONS -->
        @for (button of changeDataButtons; track button ) {
          <button class="flex flex-row items-center menu-button-interface h-11 pl-4 text-left first:rounded-t-xl last:rounded-b-xl px-3 border-black justify-between border-b-0" routerLink="{{ button.route }}">
            <div>{{ button.name }}</div>
            <mat-icon>chevron_right</mat-icon>
          </button>
        }
      </div>
      <!-- END CHANGE DATA BUTTON CONTAINER -->

      <!-- DELETE ACCOUNT BUTTON -->
      <button class="h-11 bg-red-600 focus:bg-red-700 text-red-100 text-left pl-4 rounded-xl" routerLink="delete-account">Delete Account</button>

    </div>
    <!-- END MAIN BUTTON CONTAINER -->
  </div>
}
<!-- END ACCOUNT VIEW CONTAINER -->

<!-- ROUTER OUTLET -->
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
