.settings-container :nth-child(3) {
  border-bottom: 1px solid gray;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.settings-container :last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
