<!-- MAIN SETTINGS CONTAINER -->
<div class="text-xl w-full flex flex-col pt-24 menu-background z-20 text-black h-screen overflow-y-visible animate-fadeIn">

  <!-- TOP BUTTON CONTAINER -->
  <div class='flex flex-col mx-auto w-[90vw] rounded-xl mb-12 shadow-xl'>

    <!-- ACCOUNT BUTTON -->
    <button class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between border-b-0 rounded-t-xl menu-button-interface" routerLink="../account">
      <div>Account</div>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <!-- AVATAR BUTTON -->
    <button class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between rounded-b-xl menu-button-interface" routerLink="../avatar">
      <div>Avatar</div>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <!-- END TOP BUTTON CONTAINER -->

  <!-- BOTTOM BUTTON CONTAINER -->
  <div class='flex flex-col mx-auto rounded-xl w-[90vw] shadow-xl'>

    <!-- DISPLAY BUTTON -->
    <button class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between rounded-t-xl menu-button-interface" routerLink="../display">
      <div>Display</div>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <!-- LANGUAGE BUTTON -->
    <button class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between border-b-0 menu-button-interface" routerLink="../language">
      <div>Language</div>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <!-- INFO BUTTON (EXT. LINK) -->
    <a class='mx-auto w-full flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between border-b-0 rounded-b-xl menu-button-interface' href='https://michael-filoramo.com/portfolio/lingolink' target='_blank'>
      <div>Info</div>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
  <!-- END BOTTOM BUTTON CONTAINER -->

  <!-- APP VERSION INFO -->
  <div class="pt-3 px-4 mx-auto mt-12 h-12 w-[90vw] rounded-b-xl bg-sky-200 dark:bg-sky-900 dark:text-sky-200 text-left rounded-t-xl cursor-default shadow-xl">
    <div class="flex flex-row justify-between">
      <div>App Version</div>
      <div>{{ appVersion }}</div>
    </div>
  </div>

</div>
<!-- END MAIN SETTINGS CONTAINER -->
