# See http://help.github.com/ignore-files/ for more about ignoring files.

# COMPILED OUTPUT
/dist
/tmp
/out-tsc
/bazel-out

# NODE
/node_modules
npm-debug.log
yarn-error.log

# IDES AND EDITORS
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VISUAL STUDIO CODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# MISCELLANEOU
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# SYSTEM FILES
.DS_Store
Thumbs.db

# ENVIRONMENT FILES
src/environments/environment.local.ts
src/environments/environment.prod.ts
