<!-- SETTINGS VIEW CONTAINER -->
<div class="settings-container" style="color: white;">

  <!-- SETTINGS TITLE -->
  <div class="settings-title">Settings</div>

  <!-- LANGUAGE SELECTION -->
  <app-language-selector [backgroundColor]="'#f5f5f5'" [settingsWidth]="'90vw'"/>

  <!-- STUB SPACER -->
  <div style="padding-bottom: 40px;"></div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Setting</button>
    <button class="menu-button">Setting</button>
    <button class="menu-button settings-bottom-button">Setting</button>
  </div>

</div>
