<!-- NAVBAR CONTAINER -->
<mat-sidenav-container class="sidenav">

  <!-- PROFILE AVATAR -->
  <mat-sidenav-content class="sidenav-item profile" style="background: #001b4f">
    <mat-icon>perm_identity</mat-icon>
  </mat-sidenav-content>

  <!-- NAVBAR BUTTONS  -->
  <mat-sidenav-content class="sidenav-item mt-24" routerLink="/" >
    <mat-icon>person</mat-icon>
  </mat-sidenav-content>
  <mat-sidenav-content class="sidenav-item" routerLink="/home/conversations">
    <mat-icon>forum</mat-icon>
  </mat-sidenav-content>
  <mat-sidenav-content class="sidenav-item" routerLink="/home/chat">
    <mat-icon>contacts</mat-icon>
  </mat-sidenav-content>
  <mat-sidenav-content class="sidenav-item" routerLink="/home/settings">
    <mat-icon>settings</mat-icon>
  </mat-sidenav-content>
  <mat-sidenav-content class="sidenav-item mb-24" (click)="logout()">
    <mat-icon>eject</mat-icon>
  </mat-sidenav-content>

</mat-sidenav-container>
