<!-- NAVBAR CONTAINER -->
<div class="flex items-center h-20 bg-blue-200 bottom-0 mb-0 w-screen shadow-xl dark:bg-gradient-to-t dark:from-[#000b21] dark:to-[#04112d] z-50 absolute">

  <!-- PROFILE ICON -->
  <div class="flex items-center justify-center bg-blue-900 h-full w-20">
    <button routerLink="{{ navButtons[0].routerLink }}" (click)="navButtons[0].method" class="h-full w-full flex bg-blue-300 dark:bg-blue-900 justify-center items-center">
      <mat-icon class="text-slate-700 dark:text-blue-200">
        {{ navButtons[0].icon }}
      </mat-icon>
    </button>
  </div>

  <!-- NAVIGATION BUTTONS -->
  <div class="flex grow justify-center space-x-10 h-full">
    @for (button of navButtons.slice(1); track button) {
      <button routerLink="{{ button.routerLink }}" (click)="button.method()">
        <mat-icon class="text-slate-700 dark:text-blue-200">
          {{ button.icon }}
        </mat-icon>
      </button>
    }
  </div>

</div>
<!-- END NAVBAR CONTAINER -->
