.sidenav {
  background: linear-gradient(to bottom, #000b21, #04112d);
  width: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-item {
  color: #c1c9da;
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-item:hover {
  background: #001236;
}

.sidenav-item:active {
  background: #001442;
}

.sidenav-item:focus {
  outline: none;
}

.flex-grow {
  flex-grow: 1;
}

.dynamic-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* MOBILE SCREEN MEDIA QUERY RULES */
@media screen and (max-width: 600px) {
  .sidenav {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

  .sidenav-item {
    min-width: 50px;
  }

  .sidenav-item:last-child {
    margin-right: 50px;
  }

  .profile {
    min-width: 80px;
    margin-right: -20px;
  }
}
