<!-- HOME CONTAINER -->
<div class="colContainer">
  <!-- USER PROFILE SIDE-NAVBAR COMPONENT -->
  <app-navbar
    id="profile"
    [user]="user"
    style="padding-left: 15px"
    (profileClick)="onProfileClick()"
    (showConversations)="onShowConversations()"
    (showChat)="onShowChatBox()"
  ></app-navbar>
  <!-- END USER PROFILE SIDE-NAVBAR COMPONENT -->

  <!-- MINI MID COLUMN -->
  <div class="gridCol miniMidColumn">
    <div [ngClass]="{'fadeOut': fadeOutConvos}">
      <app-convos
        (conversationSelected)="onConversationSelected($event)"
        [user]="user"
        *ngIf="showConvos">
      </app-convos>
    </div>
  </div>
  <!-- END MINI MID COLUMN -->

  <!-- MAIN COLUMN -->
  <div class="gridCol mainColumn" *ngIf="showChat">
    <div [ngClass]="{ 'fadeOut': fadeOutConvos }" class="chatboxContainer">
      <div class="chatboxWrapper">
        <app-chatbox
          [conversationId]="selectedConversation?.conversation_id"
          [user]="user"
          *ngIf="showChat">
        </app-chatbox>
      </div>
    </div>
  </div>
  <!-- END MAIN COLUMN -->
</div>
<!-- END HOME CONTAINER -->
