<!-- LANGUAGE-SELECTOR COMPONENT -->
<select class="menu-button-interface shadow-2xl rounded-xl pl-2 justify-self-center text-xl w-[90vw] h-[6vh] text-black"
  [ngStyle]="customStyle"
  (change)="selectLanguage($event)"
>
  <!-- ITERATE THROUGH ITEMS IN LANGUAGE ARRAY -->
  @for (languageObj of languageArray; track languageObj) {
    <option class='w-32' [value]="languageObj.code" [selected]="languageObj.code === this.userService.userState().defaultLanguage">
      {{ languageObj.name }}
    </option>
  }
</select>
