<!-- CONFIRM MODAL MAIN CONTAINER -->
<div [@fadeBlur] class="px-5 py-7 h-fit w-[80vw] mx-auto bg-blue-200 text-slate-900 dark:text-slate-200 dark:bg-slate-600 flex flex-col rounded-2xl shadow-2xl z-50">

  <!-- TITLE -->
  <p class="text-slate-900 dark:text-slate-50 text-2xl font-bold">
    @if (inputType === 'delete-account') {
      Confirm user account deletion
    } @else {
      <!-- DEFAULT CONFIRM MODAL TITLE -->
      Confirm {{ inputType }} change
    }
  </p>

  <!-- BODY TEXT -->
  <p class="text-slate-800 dark:text-slate-200 text-lg">
    <!-- CONDITIONAL: CHANGE PASSWORD MESSAGE -->
    @if (inputType === 'password') {
      Are you sure you'd like to change your {{ inputType }}?
      <!-- CONDITIONAL: EMAIL MESSAGE -->
    } @else if (inputType === 'email') {
      <p class="pt-4 text-slate-800 dark:text-slate-200 text-lg">
        Are you sure you'd like to change your {{ inputType }} to {{ inputValues.join(' ') }}?</p>
      <p>{{ inputType === 'email' ? 'A confirmation email will be sent to the address provided.' : '' }}
      </p>
    } @else if (inputType === 'delete-account') {
      <!-- CONDITIONAL: USER ACCOUNT DELETION MESSAGE -->
      Are you sure you'd like to delete your account with email {{ inputValues.join(' ') }}? This action cannot be undone.
    } @else {
      <!-- DEFAULT CONFIRM MODAL MESSAGE -->
        Are you sure you'd like to change your {{ inputType }} to {{ inputValues.join(' ') }}?
    }
  </p>
  <!-- END BODY TEXT -->

  <!-- ADDITIONAL CONTENT DISPLAY -->
  @if (this.displayAdditionalContent) {
    <ng-content />
  }

  <!-- BUTTON CONTAINER -->
  @if (!this.displayAdditionalContent) {
    <div class="mt-4 flex flex-row gap-3 justify-end">
      <!-- CANCEL BUTTON -->
      <button class="bg-slate-100 hover:bg-slate-200 active:bg-slate-300 text-slate-950 rounded-xl h-12 w-24 transition-colors duration-150 ease-in-out shadow-lg" (click)="emitCancel(true)">Cancel</button>
      <!-- CONFIRM BUTTON -->
      <button class="{{ this.inputType === 'delete-account' ? 'bg-red-600 hover:bg-red-700 active:bg-red-800 text-red-100' : 'bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-blue-100' }} rounded-xl h-12 w-24 transition-colors duration-150 ease-in-out shadow-lg" (click)="emitConfirm(true)">Confirm</button>
    </div>
  }

</div>
<!-- END CONFIRM MODAL MAIN CONTAINER -->
