/* REGISTER BUTTON */
#register-btn {
  background-color: #a1a1a1;
}

#register-btn:hover {
  background-color: #b2b2b2;
}

/* LOGIN CARD */
.login-card {
  max-width: 350px;
  height: 400px;
  margin: 0 auto;
  background: #202028;
  border-radius: 15px;
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.3);
}

mat-card-title {
  font-family: 'Varela Round', serif;
  color: #dedede;
  font-size: 25px;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 35px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: #ff1744;
}

button {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #6c63ff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #574fea;
}

button:disabled {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(89, 89, 89, 0.5);
  cursor: not-allowed;
}

/* LOGO CONTAINER */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.logo-container img {
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.logo {
  width: 350px;
  height: auto;
}

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .login-card {
    padding: 15px;
  }

  mat-form-field {
    font-size: 14px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }
}
