.login-card {
  max-width: 400px;
  margin: 0 auto;
  background-color: #222;
  color: #fff;
}

mat-card-title {
  color: #fff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: #ff1744;
}

button {
  margin-top: 16px;
  width: 100%;
}
