.back-arrow {
  position: absolute;
  left: 10px;
  top: 3vh;
  transform: translateY(-50%);
  cursor: pointer;
  color: #dae3ff;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}

.view-title {
  color: white;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 40px;
}
