.title-component-container {
  background-color: #041331;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.title-component-container::after {
  content: '';
  width: 50px;
  height: 1px;
  display: block;
}

.back-arrow {
  margin-top: -10px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  color: #dae3ff;
  font-size: 30px;
}

.view-title {
  color: white;
  margin-left: -15px;
  font-size: 25px;
  padding-top: 1vh;
  text-align: center;
}
