<!-- INPUT CONTAINER -->
<div class="inputContainer transition-opacity duration-300 ease-in-out">

  <!-- LANGUAGE SELECTION -->
  <select class="languageSelect" (change)="onLangSelect($event)">
    <option>English</option>
    <!-- ITERATE THROUGH ITEMS IN LANGUAGE ARRAY -->
    <option *ngFor="let languageObj of languageArray" [selected]="languageObj.code === source_language.code">
      {{ languageObj.name }}
    </option>

  </select>

  <!-- TEXT INPUT -->
  <input
    #inputElement
    class="textInput"
    (keyup.enter)="onSendMessage()"
    type="text"
    [(ngModel)]="textInput"
    placeholder="Type something to send..."
  >

  <!-- SEND MESSAGE BUTTON -->
  <button class="sendMessageButton" (click)="onSendMessage()" style="color: #e8e9ff; float: right">
    <mat-icon>send</mat-icon>
  </button>

</div>

<!-- CONVERSATION CONTAINER -->
<div class="conversation-container">

  <!-- CONVERSATION LOADER -->
  <div class="messageList" #chatContainer>
    <ng-container *ngFor="let message of mainConvoContainer">
      <div class="messageContainer animate-fadeIn" [ngClass]="{'userMessage transition-opacity duration-300 ease-in-out': message.user_id == this.user.user_id, 'otherMessage transition-opacity duration-300 ease-in-out': message.user_id != this.user.user_id}">
        <mat-icon *ngIf="message.user_id != this.user.user_id">person</mat-icon>
        <div class="messageText">{{ message.textInput }}</div>
        <mat-icon *ngIf="message.user_id == this.user.user_id">person</mat-icon>
      </div>
      <br />
      <br />
    </ng-container>
  </div>

</div>

<!-- LOADING ANIMATION -->
<div *ngIf="isLoading" class="loading-container">
  <img src="../../../assets/animations/loading-globe.gif" alt="Loading Animation" class="ping-slower"/>
</div>
