.settings-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #030f2c;
  z-index: 15;
  color: black;
  width: 100vw;
  height: calc(100vh - 80px);
}
