<!-- SETTINGS VIEW CONTAINER -->
<div class="settings-container">

  <!-- SETTINGS TITLE -->
  <div class="settings-title">Settings</div>

  <!-- STUB BUTTONS -->
  <div class="button-pair-container">
    <button class="menu-button settings-top-button">Account</button>
    <button class="menu-button settings-bottom-button">Avatar</button>
  </div>

  <div class="button-pair-container">
    <button class="menu-button settings-top-button" routerLink="/home/language">Language</button>
    <button class="menu-button">Display</button>
      <button class="menu-button settings-bottom-button">Info</button>
  </div>
  <!-- END STUB BUTTONS -->

</div>
