<!-- LOADING ANIMATION -->
@if (isLoading) {
  <div class="justify-center m-auto h-screen w-screen absolute z-30">
    <img src="../../../assets/animations/loading-globe.gif" alt="Loading Animation" class="h-12 w-12 ping-slower" />
  </div>
}

<!-- MESSAGES COMPONENT CONTAINER -->
<div class="text-xl w-screen flex flex-col menu-background z-20 text-black h-screen overflow-y-visible">

    <!-- TITLE COMPONENT -->
    <app-title (click)="onDeselectConversation()">
      <div class="flex flex-row justify-center">
        <img src="{{ conversationStarterPic }}" class="w-9 h-9 mr-3 rounded-full" alt="image"/>
        <span class="mt-2">{{ conversationStarterName }}</span>
      </div>
    </app-title>

    <!-- MESSAGES (CONVERSATION) CONTAINER -->
    <div class="flex flex-col justify-start pt-6 px-4 w-screen" #chatContainer>

      <!-- MESSAGES -->
      @for (message of messagesContainer; track message) {

        <!-- USER'S OWN CHAT MESSAGE -->
        @if (message.userId == this.userService.userState().userId) {
          <div class="my-2 px-4 py-2 bg-blue-500 dark:bg-[#284a86] right-0 text-right self-end text-white dark:text-sky-50 rounded-2xl text-md w-fit">
            {{ message.textInput }}
          </div>

        <!-- OTHER PARTICIPANT'S CHAT MESSAGE -->
        } @else {
          <div class="my-2 px-4 py-2 bg-slate-500 dark:bg-[#5e6179] text-left self-start text-white dark:text-gray-100 rounded-2xl text-md w-fit">
            {{ message.textInput }}
          </div>
        }
      }
    </div>
    <!-- END MESSAGES (CONVERSATION) CONTAINER -->

  <!-- TODO: REBUILD INPUT CONTAINER IN TAILWIND -->
  <!-- INPUT CONTAINER -->
  <div class="flex mx-auto p-3 bottom-0 bg-gray-100 dark:bg-[#1f293f] h-[8vh] w-screen fixed animate-fadeIn">
    <!-- TODO: ADD COMPONENT FUNCTIONALITY (MODULARIZE?) -->
    <!-- ... -->
  </div>

</div>
<!-- END MESSAGES COMPONENT CONTAINER -->
