<!-- INPUT CONTAINER -->
<div @fadeInInput class="textContainer">
  <!-- LANGUAGE SELECTION -->
  <select class="languageSelect" (change)="onLangSelect($event)">
    <option>English</option>
    <!-- ITERATE THROUGH ITEMS IN LANGUAGE ARRAY -->
    <option *ngFor="let languageObj of languageArray" [selected]="languageObj.name === source_language">
      {{ languageObj.name }}</option>
  </select>
  <!-- END LANGUAGE SELECTION -->

  <!-- TEXT INPUT -->
  <input
    #inputElement
    class="textInput"
    (keyup.enter)="onSendMessage()"
    type="text"
    [(ngModel)]="textInput"
  >
  <!-- END TEXT INPUT -->

  <!-- SEND MESSAGE BUTTON -->
  <button class="sendMessageButton" (click)="onSendMessage()">Send</button>
  <!-- END SEND MESSAGE BUTTON -->
</div>
<!-- END INPUT CONTAINER -->

<!-- CONVERSATION CONTAINER -->
<div class="conversation-container">
  <!-- CONVERSATION LOADER -->
  <div class="messageList" #chatContainer>
    <ng-container *ngFor="let message of mainConvoContainer">
      <div class="messageContainer" [ngClass]="{'userMessage': message.user_id == this.user.user_id, 'otherMessage': message.user_id != this.user.user_id}" [@fadeInMessage]>
        <mat-icon *ngIf="message.user_id != this.user.user_id">person</mat-icon>
        <div class="messageText">{{ message.content || message.text }}</div>
        <mat-icon *ngIf="message.user_id == this.user.user_id">person</mat-icon>
      </div>
      <br />
      <br />
    </ng-container>
  </div>
  <!-- END CONVERSATION LOADER -->
</div>
<!-- END CONVERSATION CONTAINER -->

  <!-- LOADING ANIMATION -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <!-- END LOADING ANIMATION -->

<!-- ANIMATIONS -->
<ng-template>
  <div [@fadeIn]="''"></div>
</ng-template>
<!-- END ANIMATIONS -->
