<!-- LOAD CONVERSATION -->
<div *ngFor="let message of mockConvo">
  <div *ngIf="message.user == 'eclethro1'" style="display: flex; flex-direction: row; justify-content: flex-end">
    <div class="yourMessage">{{ message.text }}</div>
    <mat-icon>person</mat-icon>
  </div>
  <div *ngIf="message.user != 'eclethro1'" style="display: flex; flex-direction: row; justify-content: flex-start">
    <mat-icon>person</mat-icon>
    <div class="theirMessage">{{ message.text }}</div>
  </div>
  <br>
  <br>
</div>

