<!-- INPUT CONTAINER -->
<div class="textContainer">
  <!-- LANGUAGE SELECTION -->
  <select (change)="onLangSelect($event)" style="border-radius: 10px; float: left; height: 100%">
    <option>English</option>

    <!-- ITERATE THROUGH ITEMS IN LANGUAGE ARRAY -->
    <option *ngFor="let languageObj of languageArray" [selected]="languageObj.name === srcLang">
      {{ languageObj.name }}</option>
  </select>
  <!-- END LANGUAGE SELECTION -->

  <!-- TEXT INPUT -->
  <input
    #inputElement
    class="textInput"
    (keyup.enter)="onSendMessage()"
    type="text"
    [(ngModel)]="message"
  >
  <!-- END TEXT INPUT -->

  <!-- SEND MESSAGE BUTTON -->
  <button (click)="onSendMessage()" style="border-radius: 8px; height: 100%; width: 100px; float: right">Send</button>
  <!-- END SEND MESSAGE BUTTON -->

</div>
<!-- END INPUT CONTAINER -->

<!-- CONVERSATION LOADER -->
<div class="messageList" #chatContainer >
  <ng-container *ngFor="let message of mockConvo">
    <div *ngIf="message.user_id == this.user.user_id" style="display: flex; flex-direction: row; justify-content: flex-end; padding-right: 10px">
      <div class="yourMessage">{{ message.content }}</div>
      <mat-icon>person</mat-icon>
    </div>
    <div *ngIf="message.user_id != this.user.user_id" style="display: flex; flex-direction: row; justify-content: flex-start; padding-left: 10px">
      <mat-icon>person</mat-icon>
      <div class="theirMessage">{{ message.content }}</div>
    </div>
    <br>
    <br>
  </ng-container>
</div>
<!-- END CONVERSATION LOADER -->
