.userMessage,
.otherMessage {
  display: flex;
  align-items: center;
  padding: 0 10px;
  animation: fadeIn 0.5s;
}

.userMessage {
  justify-content: flex-end;
}

.otherMessage {
  justify-content: flex-start;
}

.userMessage .messageText,
.otherMessage .messageText {
  display: flex;
  align-items: center;
  padding: 0 5px;
  min-height: 50px;
  min-width: 200px;
  max-width: 300px;
  margin: 0 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  word-wrap: break-word;
  text-align: justify;
}

.userMessage .messageText {
  background: #63a0ff;
  justify-content: flex-end;
}

.otherMessage .messageText {
  background: #c9c9c9;
  justify-content: flex-start;
}

.inputContainer {
  background: #a9a9a9;
  height: 50px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  bottom: 0;
  z-index: 3;
}

.languageSelect,
.textInput,
.sendMessageButton {
  border-radius: 10px;
  height: 80%;
}

.languageSelect {
  width: 7vw;
}

.textInput {
  height: 35px;
  margin-left: 1vw;
  width: 100%;
  padding-right: 50px;
}

.sendMessageButton {
  margin-left: 10px;
  width: 7vw;
}

.messageList {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.conversation-container {
  position: relative;
  height: calc(100% - 35px);
  width: 100%;
  overflow-y: auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
