.userMessage,
.otherMessage {
  display: flex;
  align-items: center;
  padding: 0 10px;
  animation: fadeIn 0.5s;
}

.userMessage {
  justify-content: flex-end;
}

.otherMessage {
  justify-content: flex-start;
}

.userMessage .messageText,
.otherMessage .messageText {
  display: flex;
  align-items: center;
  padding: 0 5px;
  min-height: 50px;
  min-width: 200px;
  max-width: 300px;
  margin: 0 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  word-wrap: break-word;
  text-align: justify;
}

.userMessage .messageText {
  background: #3f8dff;
  justify-content: flex-end;
}

.otherMessage .messageText {
  background: #a6a4a4;
  justify-content: flex-start;
}

.textContainer {
  background: #6c6c6c;
  border-radius: 15px;
  height: 35px;
  position: absolute;
  width: 45vw;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  bottom: 4vh;
  justify-content: space-between;
  z-index: 3;
}

.languageSelect,
.textInput,
.sendMessageButton {
  border-radius: 10px;
  height: 80%;
}

.languageSelect {
  width: 7vw;
}

.textInput {
  margin-left: 1vw;
  width: 28vw;
}

.sendMessageButton {
  width: 7vw;
}

.messageList {
  overflow-y: scroll;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.conversation-container {
  position: relative;
  height: 100%;
  width: 100%
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
