<!-- DISPLAY VIEW CONTAINER -->
<div class="text-xl w-full pt-16 flex flex-col bg-gradient-to-b menu-background z-20 text-black px-6 h-screen overflow-y-visible animate-fadeIn">

  <!-- TOP BUTTON CONTAINER -->
  <div class='flex flex-col mx-auto justify-center mt-10 menu-button-interface w-full h-72 rounded-xl mb-8'>

    <!-- DARK MODE TOGGLE SWITCH CONTAINER -->
    <div class="flex flex-row justify-around items-center px-7 h-full text-left border-b-0 rounded-xl mx-auto w-full">

      <!-- DARK MODE SELECTION -->
      @for (button of darkModeButtons; track button) {
        <div class="flex flex-col items-center" (click)="display.toggleDarkMode(); display.updateBodyClass()">
          <img class="h-48 w-auto" src="{{ button.imgSource }}" alt="Mode Image" />
          <div class="pt-1 pb-4">{{ button.modeLabel }}</div>
          <input type="radio" name="options" [(ngModel)]="display.displayMode" value="{{ button.modeValue }}" style="transform: scale(1.7);">
        </div>
      }
    </div>
  </div>
  <!-- END TOP BUTTON CONTAINER -->

  <!-- BOTTOM BUTTON CONTAINER -->
  <div class='flex flex-col mx-auto w-[90vw] rounded-xl mb-12 menu-button-interface'>

    <!-- FONT SIZE BUTTON -->
    <button class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between border-b-0 rounded-t-xl" routerLink="/">
      <div>Font Size</div>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <!-- BOLD TEXT TOGGLE SWITCH CONTAINER -->
    <div class="flex flex-row items-center h-11 pl-4 text-left px-3 border-black justify-between border-b-0 rounded-b-xl">
      <div>Bold Text</div>

      <!-- BOLD FONT RADIO TOGGLE SWITCH -->
      <label class="relative inline-block w-14 h-8 rounded-2xl">
        <input type="checkbox" class="opacity-0 w-0 h-0" [(ngModel)]="display.boldText" (change)="display.setBoldText(display.boldText)">
        <span class="slider block absolute cursor-pointer rounded-full inset-0 transition duration-300 ease-in-out before:absolute before:rounded-full before:bg-white before:dark:bg-slate-800 before:top-1 before:left-1 bg-blue-900 before:w-6 before:h-6 before:transition before:duration-300" [class.before:translate-x-6]="display.boldText" [class.dark:bg-blue-500]="display.boldText" [class.bg-gray-500]="!display.boldText"></span>
      </label>
    </div>
    <!-- BOLD TEXT TOGGLE SWITCH CONTAINER -->
  </div>
  <!-- END BOTTOM BUTTON CONTAINER -->
</div>
<!-- END DISPLAY VIEW CONTAINER -->
