.convoItem {
  color: #dae3ff;
  align-items: center;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 60px;
}

.convoItem:hover {
  background: #111633;
  cursor: pointer;
}

.convoItem:active {
  background: #0f183d;
}
