<div @fadeIn @fadeOut *ngFor="let convo of conversations">
  <div class="convoItem" *ngIf="checkConvoVisibility(convo)"  (click)="onSelectConversation(convo)">
    <mat-icon style="padding-right: 20px; margin-left: -5px">person</mat-icon>
    <div style="padding-right: 10px;">{{ convo.conversation_id }}</div>
    <div>{{ convo.name }}</div>
    <div>{{ convertIsoString(convo.latest_timestamp) }}</div>
    <button (click)="$event.stopPropagation(); removeConvo(convo)" style="margin-right: 7px">x</button>
  </div>
</div>
