.convoItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  margin-top: 10px;
  background: #b7b7b7;
  border-radius: 15px;
  margin-left: 14px;
  margin-right: -10px;
  padding-left: 15px;
}

.convoItem:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.convoItem:active {
  background: #c9c9c9;
}
