<!-- PROFILE (SIDE NAV CONTAINER) -->
<mat-sidenav-container class="sidenav">

  <!-- PROFILE AVATAR -->
  <mat-sidenav-content class="sidenavItem" style="padding-bottom: 150px; background: #bdbdbd">
    {{ user }}
  </mat-sidenav-content>
  <!-- END PROFILE AVATAR -->

  <!-- NAV BUTTONS  -->
  <mat-sidenav-content (click)="profileClick.emit()" routerLink="/" class="sidenavItem">Profile</mat-sidenav-content>
  <mat-sidenav-content (click)="showConvosAndChat()" routerLink="/home/chat" class="sidenavItem">Chat</mat-sidenav-content>
  <mat-sidenav-content class="sidenavItem">Friends</mat-sidenav-content>
  <mat-sidenav-content class="sidenavItem">Conversations</mat-sidenav-content>
  <mat-sidenav-content (click)="logout()" class="sidenavItem">Settings</mat-sidenav-content>
  <!-- END NAV BUTTONS  -->


</mat-sidenav-container>
<!-- END PROFILE (SIDE NAV CONTAINER) -->
