.sidenav {
  background: #d9d9d9;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.sidenavItem {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
}

.sidenavItem:hover {
  background: #bbbbbb;
}

.sidenavItem:active {
  background: #b6b6b6;
}
