<!-- PROFILE (SIDE NAV CONTAINER) -->
<mat-sidenav-container class="sidenav">

  <!-- PROFILE AVATAR -->
  <mat-sidenav-content class="sidenavItem" style="padding-bottom: 150px; background: #bdbdbd"> [Avatar Placeholder]</mat-sidenav-content>
  <!-- END PROFILE AVATAR -->

  <!-- NAV BUTTONS  -->
  <mat-sidenav-content (click)="test($event)" class="sidenavItem">Profile</mat-sidenav-content>
  <mat-sidenav-content (click)="test($event)" class="sidenavItem">Chat</mat-sidenav-content>
  <mat-sidenav-content (click)="test($event)" class="sidenavItem">Friends</mat-sidenav-content>
  <mat-sidenav-content (click)="test($event)" class="sidenavItem">Messages</mat-sidenav-content>
  <mat-sidenav-content (click)="test($event)" class="sidenavItem">Settings</mat-sidenav-content>
<!-- END NAV BUTTONS  -->

</mat-sidenav-container>
<!-- END PROFILE (SIDE NAV CONTAINER) -->
