@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-image: linear-gradient(black, #00002d);
  @apply font-varela-round;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.menu-button-interface {
  @apply
    /* LIGHT MODE */
    bg-blue-200 text-slate-950

    /* DARK MODE */
    dark:bg-slate-800 dark:text-blue-100 dark:focus:bg-[#1A2332FF]
}

