.fadeOut {
  animation: fadeOut 300ms forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

mat-grid-tile {
  background: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  min-height: 100%;
}

mat-icon {
  margin: 5px;
}

.colContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
}

.gridCol {
  background: linear-gradient(to top left, #04112d, #061934);
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.chatboxWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.miniMidColumn {
  width: 30vw;
}

.mainColumn {
  width: 70vw;
}

.mainColumn::before {
  content: "";
  background-image: url("../../assets/images/chatboxBgLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: scale(0.75);
}
