.fadeOut {
  animation: fadeOut 300ms forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

mat-grid-tile {
  background: #383838;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  min-height: 100%;
}

mat-icon {
  margin: 5px;
}

.colContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gridCol {
  background: #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 2vw;
  position: relative;
}

.chatboxWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
